body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url(/static/resources/img/index_bg_2.jpg);


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

a {
    text-decoration: none;
    color: #D9CAB0;
}

.bg-shadow {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header {
    padding: 8px;
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    font-size: 20px;
    justify-content: space-evenly;
    background-color: #1E4959;
}

.header-elem {
    padding: 4px;
    transition: 0.5s;
}

.header-elem::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    transition: 300ms;
}

.header-elem:hover::after {
    background-color: #D9CAB0;
    width: 100%;
}

.logo {
    padding: 128px;
    display: flex;
    justify-content: center;
}

.underlogo-text {
    display: flex;
    justify-content: center;
}

h1, h2 {
    margin: 8px;
    color: #EBF1F2;
    text-shadow: #1E4959 0px 0px 8px;
}

.login {
    display: flex;
    justify-content: center;
}

.login > a {
    display: block;
    margin: 24px;
    font-size: 28px;
    padding: 16px 64px 16px 64px;
    background-color: #1E4959;
    border-radius: 30px;
    transition: 0.5s;
}

.login > a:hover {
    color: #1E4959;
    background-color: #EBF1F2;
}