{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/about.css" />
    <title>О нас</title>
{% endblock %}

{% block body %}
    <div class="header">
      <a class="header-elem" href="index">Главная</a>
      <a class="header-elem" href="subscribe">Подписка</a>
      <a class="header-elem" href="about">О нас</a>
    </div>
    <div class="bg-shadow"></div>
    <div class="travel-friends"><p>Travel Friends</p></div>
    <div class="map-img"><img src="static/resources/img/map.png" alt="Карта мира"/></div>
    <div class="about-text"><p>Мы - развивающийся стартап, призванный дать путешественникам комфортную,
      удобную и безопасную площадку для общения и знакомств</p></div>
{% endblock %}

