<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dating.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2&display=swap" rel="stylesheet">
    <title>Dating</title>
  </head>
  <body class="profile">
    <div class="header">
      <a class="header-elem" href="index">Главная</a>
      <a class="header-elem" href="subscribe">Подписка</a>
      <a class="header-elem" href="about">О нас</a>
    </div>
    <div>
      <div class="person">
        <div class="photo">
          <img src="static/resources/avatars/{{persons_list[0]['photo']}}" class="profile-photo-dating" />
        </div>
        <div class="info">
          <div class="name"><p>{{persons_list[0]['name']}}</p></div>
          <div class="age"><p>Возраст - {{persons_list[0]['age']}}</p></div>
          <div class="country"><p>Страна - {{persons_list[0]['country']}}</p></div>
          <div class="city"><p>Город - {{persons_list[0]['city']}}</p></div>
          <div class="address"><p>Адрес - {{persons_list[0]['address']}}</p></div>
          
          <div class="languages"><p>Языки - {{persons_list[0]['languages']}}</p></div>
          <div class="contacts"><p>Контакты - {{persons_list[0]['contacts']}}</p></div>
          <div class="about-1"><p>О себе</p></div>
          <p class="about-2">{{persons_list[0]['about']}}</p>
        </div>
      </div>
    </div>
    
    <img src="static/resources/img/_No_.png" alt="" class="no-button">
    <img src="static/resources/img/_Yes_.png" alt="" class="yes-button">
  </body>
</html>
