<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/dating.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2&display=swap" rel="stylesheet">
    <title>Dating</title>
  </head>
  <body class="profile">
    <div class="header">
      <a class="header-elem" href="index">Главная</a>
      <a class="header-elem" href="subscribe">Подписка</a>
      <a class="header-elem" href="about">О нас</a>
    </div>
    <div>
      <div class="person">
        <div class="photo">
          <img src="static/resources/avatars/{{persons_list[0]['Photo']}}"/>
        </div>
        <div class="info">
          <div class="field name"><p>{{persons_list[0]['Name']}}</p></div>
          <div class="field age"><p>Возраст</p><p>{{persons_list[0]['Age']}}</p></div>
          <div class="field country"><p>Страна</p><p>{{persons_list[0]['Country']}}</p></div>
          <div class="field city"><p>Город</p><p>{{persons_list[0]['City']}}</p></div>
          <div class="field address"><p>Адрес</p><p>{{persons_list[0]['Address']}}</p></div>
          <div class="field languages"><p>Языки</p><p>{{persons_list[0]['Languages']}}</p></div>
          <div class="field contacts"><p>Контакты</p><p>{{persons_list[0]['Contacts'][0]}}</p></div>
          <div class="field about-1"><p>О себе</p></div>
          <p class="field about-2">{{persons_list[0]['About']}}</p>
      </div>
      </div>

      <div class="left-arrow"></div>
      <div class="right-arrow"></div>
  </body>
</html>
