{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/index.css" />
    <title>Travel Friends</title>
{% endblock %}

{% block body %}
    <div class="header">
      <a class="header-elem" href="index">Главная</a>
      <a class="header-elem" href="subscribe">Подписка</a>
      <a class="header-elem" href="about">О нас</a>
    </div>
    <div class="bg-shadow"></div>
    <div class="logo"><img src="static/resources/img/main_logo.png" alt="TF" /></div>
    <div class="underlogo-text"><h1>Путешествуй, знакомься, встречайся</h1></div>
    <div class="underlogo-text"><h2>Найди друзей со всех уголков света</h2></div>
    <div class="login"><a href="registration">Войти</a></div>
{% endblock %}