<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2&display=swap" rel="stylesheet">
    <title>Travel Friends</title>
  </head>
  <body>
    <div class="header">
      <a class="header-elem" href="index">Главная</a>
      <a class="header-elem" href="subscribe">Подписка</a>
      <a class="header-elem" href="about">О нас</a>
    </div>
    <div class="bg-shadow"></div>
    <div class="logo"><img src="static/resources/img/main_logo.png" alt="TF" /></div>
    <div class="underlogo-text"><h1>Путешествуй, знакомься, встречайся</h1></div>
    <div class="underlogo-text"><h2>Найди друзей со всех уголков света</h2></div>
    <div class="login"><a href="registration">Войти</a></div>
  </body>
</html>
