{% extends 'base.html' %}

{% block head %}
    <title>Профиль</title>
{% endblock %}

{% block body %}
    <div class="header">
      <div class="header-text">
        <a href="index">Главная</a>
        <a href="subscribe">Подписка</a>
        <a href="about">О нас</a>
      </div>
    </div>
    <img class="back" src="static/resources/img/back button.png" alt="Назад" />
    <p class="profile-text">Профиль</p>
    <a href="dating"
      ><img class="save" src="static/resources/img/save button.png" alt="Сохранить"
    /></a>

    <img class="profile-photo" src="static/resources/img/Profilephoto.png" alt="Фото профиля" />
    <img class="change-photo" src="static/resources/img/change photo.png" alt="Изменить Фото" />
    <p class="name">Иван, 20 лет</p>
    <p class="country">Страна</p>
    <p class="country-content">Российская Федерация</p>
    <img class="stroke-1" src="static/resources/img/Block stroke.png" />
    <img class="trigger-1" src="static/resources/img/List trigger.png" />
    <a href="dating"
      ><img
        class="button-to-dating"
        src="static/resources/img/ankets_button.png"
        alt="К анкетам"
    /></a>
{% endblock %}