<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <title>Профиль</title>
  </head>
  <body class="profile">
    <div class="header">
      <div class="header-text">
        <a href="index">Главная</a>
        <a href="subscribe">Подписка</a>
        <a href="about">О нас</a>
      </div>
    </div>
    <img class="back" src="static/resources/img/back button.png" alt="Назад" />
    <p class="profile-text">Профиль</p>
    <a href="dating"
      ><img class="save" src="static/resources/img/save button.png" alt="Сохранить"
    /></a>

    <img class="profile-photo" src="static/resources/img/Profilephoto.png" alt="Фото профиля" />
    <img class="change-photo" src="static/resources/img/change photo.png" alt="Изменить Фото" />
    <p class="name">Иван, 20 лет</p>
    <p class="country">Страна</p>
    <p class="country-content">Российская Федерация</p>
    <img class="stroke-1" src="static/resources/img/Block stroke.png" />
    <img class="trigger-1" src="static/resources/img/List trigger.png" />
    <a href="dating"
      ><img
        class="button-to-dating"
        src="static/resources/img/ankets_button.png"
        alt="К анкетам"
    /></a>
  </body>
</html>
